body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #242424;
}

.navbar {
  height: 100px;
  background-color: black;
  /*border: 2px dashed red;*/
}

.container {
  display:flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  overflow: hidden;
  
}
.item1{
  flex:1;
  display: flex;
  justify-content: center;
  transform: translateX(10px);/*D element Width[if needed]*/
}

.container img{
  height: 3em;
  width: 10em;
}

.container img.icon{

  height: 2em;
  width: 5em;
}

/* Burger Menu related CSS */

/* .nav-elements .divider{
  border-top: 1px solid #bbb;

} */
.nav-elements ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-elements ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 35px;
}
.nav-elements ul a {
  font-size: 13px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.nav-elements ul li img {
  font-size: 10px;
  color: black;
  margin-right: 7px;
}

.nav-elements ul li a::after {
  content: "";
  width: 0%;
  background-color: rgb(203, 64, 64);
  height: 3px;
  display: flex;
  transition: 0.5s;
}
.nav-elements ul li a:hover::after {
  width: 100%;
}
.nav-elements ul a.active {
  color: rgb(196, 196, 220);
}
.nav-elements.active.footer{
  top:0;
bottom:100%;
display: inline-block;
margin: 0 3px 0 0;
}
.Cartcounter{
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: white;
  margin-top: -30px;
  margin-left: 5px;
}



@media (max-width: 768px) {

  .menu-icon {
    display: block;
    cursor: pointer;
    color: white;
    z-index: 1000;
  }

  .menu-icon .menubar{ 
    display: flex;
    align-content:flex-end;
    }

  .nav-elements.active .logo {
    height: 2em;
    width: 5em;
  }

  .nav-elements {
    position: absolute;
    width: 0px;
    height: 100vh;
    overflow: hidden;
    left: 0%;
    top: 0;
    transition: all 0.3s ease-in;
    background-color: black;
  }
  .nav-elements.active {
    padding-top: 20px;
    display: block;
    cursor: pointer;
    color: black;
    display:flex;
    justify-content: center;
    width: 50%;
    background-color: white;
    transition: 0.8s;
    position: absolute;
    z-index: 10;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    padding-left: 0.5em;
    position: absolute;
    font-family: "Poppins";
  }
  .nav-elements ul li {
    margin-right: auto;
    margin-top: 0.5em;
  }
  .nav-elements ul li .footer{
    margin-top: 22em;
    margin-left: 3em;
    display:inherit;
    justify-content:space-between;
  }
  .nav-elements ul li .footer a{
    padding: 5px;
  }
  hr.solid {
    border-top: 1px solid black;
    width: 13em;
  }
}
